@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

body{
  width: 100%;
  margin: 0 auto;
}

/* Navigation */
li{
  list-style: none;
}

a{
  text-decoration: none;
}

nav{
  z-index: 10001;
}

.navcontainer {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

nav ul li a:hover{
  text-decoration: underline solid #495E57;
}

.burgericon {
  display: none;
  cursor: pointer;
}

.burgericon a img{
  margin: 5px 0;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links a {
  font-family: 'Karla', sans-serif;
}

.nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #495E57;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

/* Header */

.hero {
  background-color: #495E57;
  padding: 50px 0;
}

.hero section {
  color: #EDEFEE;
  padding: 10px 13%;
  position: relative;
}

.herobanner {
  margin-top: -85px;
}

.herobanner h2 {
  color: #F4CE14;
  font-size: 80px;
  font-family: 'Markazi Text', serif;
  margin-bottom: 0;
}

.herobanner h3 {
  font-size: 50px;
  font-family: 'Markazi Text', serif;
  margin: 0 0 0.5em;
}

.herobanner p {
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  max-width: 520px;
  line-height: 1.5;
  margin-bottom: 3em;
}

button {
  background-color: #F4CE14;
  color: black;
  padding: 14px 18px;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}

.herobanner-image{
  position: absolute;
  right: 10%;
  top: 3.5%;
  width: 400px;
}

.herobanner-image img{
  width: 85%;
  height: 400px;
  border-radius: 20px;
}

/* Booking form */

form, .confirm{
  padding: 50px 13%;
}

.formField{
  padding: 50px 20px;
}

input, label{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: 'Karla', sans-serif;
}

#book-date, #book-time, #book-guests, #book-occasion{
  background: #bdbdbd43;
  padding: 8px 24px;
  border: none;
  outline: none;
  border-radius: 2px;
  font-family: 'Karla', sans-serif;
}

.btnReceive input{
  padding: 12px 16px;
  margin-top: 20px;
  background: #495e57;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-family: "Karla", sans-serif;
  font-size: 15px;
}

.confirm span{
  color: blue;
}

/*Confirmation Page*/
.confirm{
  background-color: #495e57;
}

.confirm h1 {
  color: #F4CE14;
  font-family: "Markazi Text", serif;
  font-size: 60px;
  margin-bottom: 0;
  margin-top: -10px;
}

.confirm p {
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 25px;
  margin-top: -10px;
}
/* Menu items */

.specials-container{
  margin: 50px auto;
  padding: 10px 13%;
}

.specials-container h2 {
  color: #000;
  font-family: 'Markazi Text', serif;
  font-size: 50px;
}

.specials-header{
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cards{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.specials-items {
  height: 500px;
  width: 350px;
  background: #a9c8be;
  border-radius: 8px;

  .specials-content {
    padding: 5px 15px;
    font-family: 'Karla', sans-serif;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .heading h5 {
    font-size: 20px;
  }

  .heading p {
    font-size: 20px;
  }

  .specials-content .heading{
    display: flex;
    justify-content: space-between;
  }

  .orderButton {
    padding: 5px 12px;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 600;
  }
}


.specials-container img{
  width: 100%;
  height: 233px;
  border-radius: 8px;
}

/* Testimonials */
.testimonial-container {
  background-color: #495E57;
  padding: 60px 0;
}

.testimonial-container section {
  color: black;
  padding: 10px 13%;
  position: relative;
}

.testimonial-header {
  color: #F4CE14;
  font-size: 40px;
  font-family: 'Markazi Text', serif;
  margin-top: -70px;
}

.testimonial-cards{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.testimonial-items {
  flex-basis: calc(25% - 2rem);
  height: 450px;
  background: #a9c8be;
  border-radius: 8px;

  .testimonial-content {
    padding: 10px 20px;
    font-family: 'Karla', sans-serif;
  }

  .testimonial-content .heading {
    margin-top: -20px;
    margin-bottom: 0%;
    font-size: 20px;
  }
  .testimonial-content .review-text {
    font-size: 12px;
    line-height: 1;
    margin-top:0%;
  }
  .testimonial-content .heading{
    display: flex;
    justify-content: space-between;
  }
}


.testimonial-container img{
  width: 100%;
  height: 233px;
  border-radius: 8px;
}

/* About Section */

.about {
  background-color: white;
  padding: 120px 0;
}

.about section {
  color: black;
  padding: 10px 13%;
  position: relative;
}

.main-text h2 {
  color: black;
  font-size: 55px;
  font-family: 'Markazi Text', serif;
  margin-bottom: 0;
}

.main-text p {
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  max-width: 520px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 30px;
}

.about-images{
  position: absolute;
  right: 13%;
  top: 18.5%;
  width: 400px;
}
.ownerPhoto1, .ownerPhoto2 {
  position: absolute;
  width: 200px;
  height: 200px;
}

.ownerPhoto1 {
  top: -150px;
  left: -110px;
}

.ownerPhoto2 {
  top: 110px;
  left: 70px;
}

.about-images img{
  width: 150%;
  height: 300px;
  border-radius: 20px;
}


/* Footer */

footer {
  border-top: 2px solid #495E57;
}

footer section{
  padding: 50px 13%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.second-logo img{
  margin-top: 12px;
  cursor: pointer;
  width: 200px;
}


footer h3{
  font-size: 20px;
  font-family: 'Markazi Text', serif;
}

footer ul{
  padding: 0;
}

footer ul li{
  padding: 8px 0;
  font-family: 'Karla', sans-serif;
}

/*Mobile View*/
@media screen and (max-width: 768px){
  .burgericon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.visible {
    display: flex;
    background: #333333;
    z-index: 1000;
    padding: 20px 0;
  }

  nav .nav-links.visible li a {
    color: white;
  }

  .navcontainer{
    background: #fff;
    padding: 10px 8%;
  }

  nav ul li a{
      color: #fff;
  }

  .burgericon{
    margin: 5px 0;
  }

  .herobanner-image img{
    display: none !important;
  }

  form, .confirm{
    padding: 10px 8%;
  }

  .hero section, .menu-container{
    padding: 10px 8%;
  }

  .specials-container{
    margin: 20px 0;
  }

  .specials-header{
    justify-content: flex-start;
  }

  .specials-items{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .testimonial-container {
    padding: 20px 0;
  }

  .testimonial-header {
    justify-content: flex-start;
  }

  .testimonial-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .about section, .main-text {
    padding: 10px 8%;
  }

  .about-images .ownerPhoto1, .about-images .ownerPhoto2{
    display: none !important;
  }

  footer section{
    display: flex;
    padding: 10px 8%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .company-info p{
    width: 100%;
  }

  .hidden{
    display: none;
  }
}

/*Desktop View*/
@media screen and (min-width: 769px){
  .nav-links {
    display: flex;
  }

  nav .nav-links li a {
    color: black;
  }

  .herobanner-image img{
    display: block !important;
  }
}